*{
  margin: 0;
  padding: 0;
}

body{
  text-align: center;
  background-color: rgb(200, 250, 230);
}

/* ここからヘッダーのCSS */
header{
  background-image: url(profile-images/background-image.jpg);
  background-size: cover;
  height: 300px;
}

#title{
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  padding-top: 25px;
  color: white;
  text-shadow: 2px 2px 2px black;
}

header img{
  height: 150px;
  width: 150px;
  margin-top: 10px;
  border-radius: 50%;
}

.main{
  background-color: white;
  width: 800px;
  margin: 0 auto;
  padding: 50px 0;
}

.profile-content{
  margin-bottom: 50px;
}

.profile-content h2{
  margin-bottom: 20px;
}

ul li{
  display: inline-block;
  margin: 0 10px;
}

ul li a{
  color: black;
  text-decoration: none;
}

ul li a:hover{
  background-color: #cfcfcf;
}

.profile{
  margin-top: 10px;
}

.skill-icons{
  display: flex;
  justify-content: center;
}

.skill-icon{
  margin: 0 30px;
}

.skill-icon img{
  height: 150px;
  width: 150px;
}

.skill-contents{
  margin-top: 20px;
}

footer{
  background-color: rgb(90 155 130);
  color: white;
  padding: 20px 0;
}